<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Details</title>


</head>


<body>
    
    <h1>
        Title: .NET Core Developer (No Angular)
    </h1>
    <h2>
        Company:Kforce
    </h2>
    <h3>
        Description:Kforce has a client that is seeking a .NET Core Developer (No Angular) in Charlotte, NC.Duties Include.. NET Core Developer will lead complex technology initiatives including those that are companywide with..
    </h3>
    <h3>
        Salary: N/A
    </h3>


</body>

</html>